.u-maps-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}



@media(max-width:920px) {
    .u-maps-page {
        flex-direction: column;
        
    }


}

