.u-map-css {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.address-forms {
    display: flex;
}

.address-forms button {
    width: 45px;
    border-radius: 0px;
    border-width: 1px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.address-forms button:hover {
    background-color: gray;
    transition: background-color 0.2s ease-in;
}

.u-loc-btn {
    margin-right: 3px;
}

.u-loc-icon {
    height: 30px;
    margin-right: 0;
}

.u-address-input {
    border-radius: 0;
    border-width: 2px;
    border-color: black;
    width: 320px;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 5px;
}

.display-error {
    position: absolute;
    top: -50px;
    color: red;
    opacity: 0;
}

.display-error-active {
    opacity: 1;
    transition: 0.2s ease-in-out;
}


.u-search-icon {
    height: 25px;
}

.u-searchres-div {
    position: absolute;
    top: 50px;
    width: 327px;
    max-width: 327px;
    border: black 1px solid;

}

.u-searchres-div h3 {
    margin-left: 5px;
}

.u-searchres-div h3:hover {
    color: gray;
    cursor: pointer;
}

.u-lf-for {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 40px;
}

.u-lf-div {
    display: flex;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    width: 110px;
}

.u-lf-btn {
    height: 100%;
    color: white;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-lf-span {
    height: 100%;
    width: 0px;
    background-color: red;
    border: none;
    transition: width 0.2s ease-in;
}

.u-lf-span-active {
    transition: width 0.2s ease-in;
    width: 5px;
}