.u-navbar {

    position: fixed;
    z-index: 1000;
    width: 60px;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.u-navbar-icons {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.u-n-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.u-n-icon:hover {
    background-color: gray;
}