.gym-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gym-components {
    width: 90%;
    height: 720px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.map-info {
    margin-left: 200px;
}


.map-bg {
    width: 500px;
    height: 600px;
    border-radius: 25px;
    background-color: #171616;
    display: flex;
    justify-content: center;
    align-items: center;
}


.address-form {
    height: 500px;
    width: 450px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    row-gap: 80px;
}

.address {
    width: 90%;
    height: 40px;
    border-width: 2px;
    border-color: black;
    font-size: 1.2rem;
    padding-left: 15px;
    
}

.address::placeholder {
    color: black;
}

.address-btn {
    width: 10%;
    height: 45px;
    cursor: pointer;
    background-color: black;
    box-shadow: none;
    text-shadow: none;

}

.address-btn:hover .search-fnt{
    transition: 0.2s;
    color: black;
}

.address-btn:hover {
    transition: 0.2s;
    background-color: white;
    border-color: white;
}
.latLong-form {
    display: none;
}

.search-fnt {
    font-size: 1.5rem;
    color: white;
}


