.map-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.find-gym-btn {
    background-color: green;
}

.address-div {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    row-gap: 0px;
    column-gap: 0px;
    margin-right: 10px;
}

.address-div h1{
    margin: 0;
}

.address-div p{
    margin: 0;
}


.address-form {
    height: 70px;
    width: 450px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.address {
    width: 90%;
    height: 40px;
    border-width: 2px;
    border-color: black;
    font-size: 1.2rem;
    padding-left: 15px;
    
}

.address::placeholder {
    color: black;
}

.address-btn {
    width: 10%;
    height: 45px;
    cursor: pointer;
    background-color: black;
    box-shadow: none;
    text-shadow: none;

}

.address-btn:hover .search-fnt{
    transition: 0.2s;
    color: gray;
}

.address-btn:hover {
    transition: 0.2s;
}
.latLong-form {
    display: none;
}

.search-fnt {
    font-size: 1.5rem;
    color: white;
}

.find-btns {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.find-btn {
    transition: 0.2s ease-in;
    width: 120px;
    height: 30px;
    background-color: gray;
    border-color: gray;
    color: white;  
    border-style: solid;
    cursor: pointer;
}

.find-btns button:hover {
    background-color: black;
    border-color: black;
}

.find-active {
    background-color: green;
}

.others {
    height: 40px;
    font-size: 1rem;
    border-style: solid;
    border: none;
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
}
.others::placeholder {
    color: black;
}

.select-m-arts {
    cursor: pointer;
    background-color: black;
    color: white;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    position: relative;
}

.select-span {
    position: absolute;
    width: 100%;
    height: 100%;
}


.dd-icon {
    font-size: 1.3rem;
    cursor: pointer;
}

.marts-dropdown {
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black ;
    width: 320px;
    padding-bottom: 20px;
    opacity: 0;
    transition: 0.2s;
}

.marts-dropdown-active {
    opacity: 1;
}

.m-art {
    width: 100%;
    transition: 0.2s ease-in;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.m-art h3 {
    padding-left: 10px;
}

.m-art:hover {
    background-color: gray;
}



.m-art-span {
    width: 5px;
    height: 97%;
    background-color: red;
    opacity: 0;
    transition: 0.2s;
}

.show-span {
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media(max-width:920px) { 


    .marts-dropdown {
        height: 200px;
    }



}
